<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Beats</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/beats.css}">
    <script th:src="@{/js/main.js}"></script>
    <link rel="icon" type="image/png" th:href="@{/images/logo.png}">
    <meta name="viewport" content="width=device-width" />
</head>
<body>
<header>
    <div class="container">
        <div class="header_inner_paceopp">
            <figure id="logo">
                <a href="/"><img th:src="@{/images/logo.png}" alt="Logo"></a>
            </figure>
            <div class="navbar_left">
                <a class="nav_link_paceopp" href="/">Услуги</a>
                <a class="nav_link_paceopp" href="/beats">Биты</a>
                <a class="nav_link_paceopp" href="/#kits">Киты</a>
                <a class="nav_link_paceopp" href="/#write-to-us">Написать нам</a>
                <a sec:authorize="isAuthenticated()" class="nav_link_paceopp" href="/user/profile">Личный кабинет</a>
            </div>
            <div class="navbar_right">
                <a sec:authorize="!isAuthenticated()" class="nav_link_paceopp" th:href="@{/auth/signin}">Войти / Зарегистрироваться</a>
                <form sec:authorize="isAuthenticated()" id="logout-form" th:action="@{/logout}" th:method="post" style="display: inline-block; margin:0; padding: 0;">
                    <button type="submit" class="nav_link_paceopp logout-btn">Выйти</button>
                </form>
                <div class="menu-icon">&#9776;</div>
                <div class="dropdown" id="dropdown">
                    <div class="dropdown-content">
                        <a href="/">Услуги</a>
                        <a href="/beats">Биты</a>
                        <a href="/#kits">Киты</a>
                        <a href="/#write-to-us">Написать нам</a>
                        <a sec:authorize="isAuthenticated()" href="/user/profile">Личный кабинет</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <h2 class="section-title">Биты</h2>
        <div class="beats">
            <div th:each="beat : ${beats}">
                <div class="beat-card" th:attr="data-beat-id=${beat.id}, data-beat-name=${beat.name}, data-beat-bpm=${beat.bpm}" onclick="selectBeat(this)">
                    <img th:src="@{'data:image/jpeg;base64,'+${beat.image}}" alt="Beat Image" class="beat-image">
                    <h2 th:text="${beat.name}" class="beat-name"></h2>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Modal -->
<div class="modal fade" id="beatModal" tabindex="-1" role="dialog" aria-labelledby="beatModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalBeatName"></h5>
                <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p id="modalBeatBpm"></p>
                <img id="modalBeatImage" src="" alt="Beat Image" class="img-fluid">
                <audio id="modalBeatAudio" controls class="mt-3">
                    <source id="modalBeatAudioSource" src="" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="buyButton">Купить</button>
                <button type="button" class="btn btn-secondary service-btn-primary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<script>
    function selectBeat(element) {
        const beatId = $(element).data("beat-id");
        const beatName = $(element).data("beat-name");
        const beatBpm = $(element).data("beat-bpm");
        const beatImageSrc = $(element).find("img").attr("src");

        $("#modalBeatName").text(beatName);
        $("#modalBeatBpm").text("BPM: " + beatBpm);
        $("#modalBeatImage").attr("src", beatImageSrc);
        $("#buyButton").attr("onclick", "buyBeat(" + beatId + ", '" + beatName + "')");

        $.ajax({
            url: "/beats/" + beatId + "/audio",
            method: "GET",
            xhrFields: {
                responseType: 'blob'
            },
            success: function(data) {
                if (data) {
                    const audioUrl = URL.createObjectURL(data);
                    $("#modalBeatAudioSource").attr("src", audioUrl);
                    $("#modalBeatAudio")[0].load();
                }
            }
        });

        $("#beatModal").modal("show");
    }

    function buyBeat(beatId,beatName) {
        localStorage.setItem('selectedBeat', JSON.stringify({
            id: beatId,
            name: beatName
        }));
        window.location.href = "/payment";
    }

    $(window).click(function(event) {
        if (event.target.id === "beatModal") {
            $("#beatModal").modal("hide");
        }
    });
</script>
<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-section about">
                <h2 class="footer-title">О нас</h2>
                <p>Paceopp предлагает лучшие услуги в своей области. Мы стремимся к качеству и удовлетворению потребностей наших клиентов.</p>
            </div>
            <div class="footer-section links">
                <h2 class="footer-title">Ссылки</h2>
                <ul>
                    <li><a href="/">Услуги</a></li>
                    <li><a href="/beats">Биты</a></li>
                    <li><a href="/#kits">Киты</a></li>
                    <li><a href="/#write-to-us">Написать нам</a></li>
                    <li sec:authorize="isAuthenticated()"><a href="/user/profile">Личный кабинет</a></li>
                </ul>
            </div>
            <div class="footer-section social">
                <h2 class="footer-title">Соц. сети</h2>
                <div class="social-links">
                    <a href="https://www.instagram.com/paceopp" target="_blank">
                        <img src="/images/instagram-icon.ico" alt="Instagram">
                    </a>
                    <a href="https://www.vk.com/paceoppbeats" target="_blank">
                        <img src="/images/vk-icon.ico" alt="VK">
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2023 Paceopp</p>
        </div>
    </div>
</footer>

</body>
</html>