<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Paceopp</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
</head>
<body>
<header>
    <div class="container">
        <div class="header_inner">
            <div id="logo">
                <a href="#"><img th:src="@{/images/logo.png}" alt="Logo"></a>
            </div>
            <nav class="navbar">
                <a class="nav_link" href="#">Главная</a>
                <a class="nav_link" href="#">Об авторе</a>
                <a class="nav_link" href="#">Корзина</a>
                <a class="nav_link" href="#">Вход</a>
            </nav>
        </div>
    </div>
</header>

<main>
    <div class="container">
        <div id="background-image"></div>
    </div>
</main>

<footer>
    <p>&copy; 2023 Мой сайт</p>
</footer>
</body>
</html>