<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Paceopp</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
    <script th:src="@{/js/main.js}"></script>
    <link rel="icon" type="image/png" th:href="@{/images/logo.png}">
    <meta name="viewport" content="width=device-width" />
</head>
<body>
<header>
    <div class="container">
        <div class="header_inner_paceopp">
            <figure id="logo">
                <a href="/"><img th:src="@{/images/logo.png}" alt="Logo"></a>
            </figure>
            <div class="navbar_left">
                <a class="nav_link_paceopp" href="/">Услуги</a>
                <a class="nav_link_paceopp" href="/beats">Биты</a>
                <a class="nav_link_paceopp" href="/#kits">Киты</a>
                <a class="nav_link_paceopp" href="/#write-to-us">Написать нам</a>
                <a sec:authorize="isAuthenticated()" class="nav_link_paceopp" href="/user/profile">Личный кабинет</a>
            </div>
            <div class="navbar_right">
                <a sec:authorize="!isAuthenticated()" class="nav_link_paceopp signin-link" th:href="@{/auth/signin}">Войти / Зарегистрироваться</a>
                <form sec:authorize="isAuthenticated()" th:action="@{/logout}" th:method="post" style="display: inline-block; margin:0; padding: 0;" class="logout-form">
                    <button type="submit" class="nav_link_paceopp logout-btn">Выйти</button>
                </form>
                <div class="menu-icon">&#9776;</div>
                <div class="dropdown" id="dropdown">
                    <div class="dropdown-content">
                        <a href="/">Услуги</a>
                        <a href="/beats">Биты</a>
                        <a href="/#kits">Киты</a>
                        <a href="/#write-to-us">Написать нам</a>
                        <a sec:authorize="isAuthenticated()" href="/user/profile">Личный кабинет</a>
                        <a sec:authorize="!isAuthenticated()" th:href="@{/auth/signin}">Войти / Зарегистрироваться</a>
                        <form sec:authorize="isAuthenticated()"  th:action="@{/logout}" th:method="post" style="display: block; margin:0; padding: 0;">
                            <button type="submit" class="logout-btn">Выйти</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="container">
        <h2 class="section-title">Услуги</h2>
        <div class="services-container">
            <div class="services-container" id="services"></div>
            <script type="text/template" id="modalTemplate">
                <div class="service-item" data-bs-toggle="modal" data-bs-target="#modalService{id}">
                    <h3 class="service-title">{title}</h3>
                    <div class="service-cost">₽{cost}</div>
                </div>
                <div class="modal fade" id="modalService{id}">
                    <div class="modal-dialog service-modal-dialog">
                        <div class="modal-content service-modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title service-modal-title">{title}</h4>
                                <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body service-modal-body">
                                <p>После покупки, вы получите:</p>
                                <ul>
                                    {items}
                                </ul>
                                <div class="service-cost">₽{cost}</div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary service-btn-primary"
                                        data-service-id="{id}" data-service-title="{title}" data-service-cost="{cost}">{buttonText}</button>
                                <button type="button" class="btn btn-secondary service-btn-primary" data-bs-dismiss="modal">Закрыть</button>
                            </div>
                        </div>
                    </div>
                </div>
            </script>
        </div>

        <h2 id="kits" class="section-title">Киты</h2>

        <div class="container kits-container">
            <div class="row">
                <div th:each="kit : ${kits}" class="col-lg-4 col-md-6 mb-4">
                    <div class="kit-card" data-toggle="modal"
                         data-target="#kitModal"
                         th:data-title="${kit.title}"
                         th:data-cost="${kit.cost}"
                         th:data-description="${kit.description}">
                        <img alt="Kit image" class="img-fluid kit-image">
                        <h3 class="kit-title" th:text="${kit.title}">Kit Title</h3>
                        <div class="kit-cost" th:text="'₽' + ${kit.cost}">₽Cost</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Inside your existing HTML structure -->
        <div class="modal fade" id="kitModal">
            <div class="modal-dialog kit-modal-dialog">
                <div class="modal-content kit-modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title kit-modal-title" th:text="${kitTitle}">Kit Title</h4>
                        <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body kit-modal-body">
                        <img class="img-fluid kit-modal-image" alt="Kit Image">
                        <p th:text="${kitDescription}">Kit description</p>
                        <div class="kit-cost" th:text="'₽' + ${kitCost}">₽Cost</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary kit-btn-primary">Купить</button>
                        <button type="button" class="btn btn-secondary kit-btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>

        <h2 id="write-to-us" class="section-title">Написать нам</h2>
        <form  class="form_paceopp" th:method="post"  th:object="${emailMessage}" th:action="@{/contact}">
            <div class="input-message-container">
                <input class="contact_input" type="text" onfocus="hideError(this)" th:field="*{subject}" placeholder="Тема">
                <div class="error-message"  th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}"></div>
            </div>
            <div class="input-message-container">
                <textarea class="contact_textarea" onfocus="hideError(this)" th:field="*{message}" placeholder="Сообщение" rows="4"></textarea>
                <div class="error-message" th:if="${#fields.hasErrors('message')}" th:errors="*{message}"></div>
            </div>
            <button class="btn_paceopp" type="submit"></button>
        </form>
    </div>
</main>
<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-section about">
                <h2 class="footer-title">О нас</h2>
                <p>Paceopp предлагает лучшие услуги в своей области. Мы стремимся к качеству и удовлетворению потребностей наших клиентов.</p>
            </div>
            <div class="footer-section links">
                <h2 class="footer-title">Ссылки</h2>
                <ul>
                    <li><a href="/">Услуги</a></li>
                    <li><a href="/beats">Биты</a></li>
                    <li><a href="/#kits">Киты</a></li>
                    <li><a href="/#write-to-us">Написать нам</a></li>
                    <li sec:authorize="isAuthenticated()"><a href="/user/profile">Личный кабинет</a></li>
                </ul>
            </div>
            <div class="footer-section social">
                <h2 class="footer-title">Соц. сети</h2>
                <div class="social-links">
                    <a href="https://www.instagram.com/paceopp" target="_blank">
                        <img src="/images/instagram-icon.ico" alt="Instagram">
                    </a>
                    <a href="https://www.vk.com/paceoppbeats" target="_blank">
                        <img src="/images/vk-icon.ico" alt="VK">
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2023 Paceopp</p>
        </div>
    </div>
</footer>
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Успех!</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Письмо успешно отправлено!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" th:value="${showSuccessModal}" id="showSuccessModal">
<script th:inline="javascript">
    /*<![CDATA[*/

    // Get services and items from the model attributes
    var services = /*[[${services}]]*/ [];

    // Sort services by price in ascending order
    services.sort((a, b) => a.price - b.price);

    const serviceContainer = document.getElementById('services');
    const modalTemplate = document.getElementById('modalTemplate').innerText;
    let generatedHTML = "";

    services.forEach(service => {
        // Get items for the current service
        const itemsHTML = service.items.map(item => `<li>${item.item}</li>`).join('');
        const modalHTML = modalTemplate
            .replace(/{id}/g, service.id)
            .replace(/{title}/g, service.name)
            .replace(/{cost}/g, service.price.toLocaleString('en-US', { maximumFractionDigits: 0 }))
            .replace('{items}', itemsHTML)
            .replace('{buttonText}', service.id === 19 ? 'Оформить' : 'Выбрать бит');
        generatedHTML += modalHTML;
    });

    serviceContainer.innerHTML = generatedHTML;

    // Add event listeners to the "Выбрать бит" and "Оформить" buttons
    services.forEach(service => {
        const serviceId = service.id;
        const primaryButton = document.querySelector(`#modalService${serviceId} .btn-primary`);

        primaryButton.addEventListener('click', function() {
            // Сохраняем данные услуги в Local Storage
            localStorage.removeItem('selectedKit');
            localStorage.setItem('selectedService', JSON.stringify({
                id: service.id,
                title: service.name,
                cost: service.price
            }));

            if (serviceId !== 19) {
                window.location.href = "/beats";
            } else {
                // Действие для "Оформить" (если есть)
                window.location.href = "/order";
            }
        });
    });
    /*]]>*/
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var kits = /*[[${kits}]]*/ [];

    document.addEventListener('DOMContentLoaded', function() {
        var kitCards = document.querySelectorAll('.kit-card');
        var selectedKit = {};

        kitCards.forEach(function(kitCard, index) {
            var kit = kits[index];
            var imageElement = kitCard.querySelector('img');
            imageElement.src = 'data:image/jpeg;base64,' + kit.image;
            var costElement = kitCard.querySelector('.kit-cost');
            costElement.textContent = '₽' + kit.cost.toLocaleString('en-US', { maximumFractionDigits: 0 });
        });

        // Function to open kit modal
        function openKitModal(title, cost, description, imageBase64, id) {
            const modal = document.getElementById('kitModal');
            modal.querySelector('.kit-modal-title').textContent = title;
            modal.querySelector('.kit-modal-body p').textContent = description;
            var modalCost = modal.querySelector('.kit-cost');
            modalCost.textContent = '₽' + cost;
            modal.querySelector('.kit-modal-image').src = 'data:image/jpeg;base64,' + imageBase64;
            $(modal).modal('show'); // Bootstrap modal show method

            selectedKit = { id: id, title: title, cost: parseInt(cost), description: description }; // Update selected kit
        }

        // Add event listeners to kit cards for modals
        kitCards.forEach(function(card, index) {
            card.addEventListener('click', function() {
                var kit = kits[index];
                openKitModal(kit.title, kit.cost, kit.description, kit.image, kit.id);
            });
        });

        // Handle buy button click
        var buyButton = document.querySelector('.kit-btn-primary');
        buyButton.addEventListener('click', function() {
            localStorage.removeItem('selectedBeat');
            localStorage.removeItem('selectedService');

            localStorage.setItem('selectedKit', JSON.stringify(selectedKit));

            if (selectedKit.id) {
                window.location.href = '/payment';
            } else {
                console.error('No selected kit found in localStorage.');
                // Handle the case where no kit is selected (if needed)
            }
        });
    });
    /*]]>*/
</script>
</body>
</html>