<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Paceopp</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
    <link rel="icon" type="image/png" th:href="@{/images/logo.png}">
    <meta name="viewport" content="width=device-width" />
</head>
<body>
<header>
    <div class="container">
        <div class="header_inner_paceopp">
            <figure id="logo">
                <a href="/"><img th:src="@{/images/logo.png}" alt="Logo"></a>
            </figure>
            <nav class="navbar_paceopp">
                <a class="nav_link_paceopp" href="/">Home</a>
                <a class="nav_link_paceopp" href="#">About</a>
                <a class="nav_link_paceopp" href="#">Services</a>
                <a class="nav_link_paceopp" href="#">Products</a>
                <a class="nav_link_paceopp" href="#">Contact</a>
                <a sec:authorize="!isAuthenticated()" class="nav_link_paceopp" th:href="@{/auth/signin}">Sign in / Sign up</a>
                <form sec:authorize="isAuthenticated()" id="logout-form" th:action="@{/logout}" th:method="post" style="display: inline-block; margin:0; padding: 0;">
                    <button type="submit" class="nav_link_paceopp logout-btn">Logout</button>
                </form>
            </nav>
        </div>
    </div>
</header>

<main>
    <div class="container">
        <div class="services-container" >
            <h1 class="section-title">SERVICES</h1>

            <div class="services-container" id="services">

            </div>

            <!-- The Modal Template -->
            <script type="text/template" id="modalTemplate">
                <div class="service-item" data-bs-toggle="modal" data-bs-target="#modalService{id}">
                    <h3 class="service-title">{title}</h3>
                    <div class="service-cost">${cost}</div>
                </div>
                <div class="modal fade" id="modalService{id}">
                    <div class="modal-dialog service-modal-dialog">
                        <div class="modal-content service-modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title service-modal-title">{title}</h4>
                                <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body service-modal-body">
                                <p>После покупки, вы получите:</p>
                                <ul>
                                    {items}
                                </ul>
                                <div class="service-cost">${cost}</div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary service-btn-primary">Order</button>
                                <button type="button" class="btn btn-secondary service-btn-primary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </script>

            <script>
                const services = [
                    {
                        id: 1,
                        title: 'WAV leasing',
                        cost: 100,
                        items: [
                            'Бит в формате WAV и MP3 с 1 тегом',
                            'Право выкладывать трек в любые цифровые магазины',
                            'Коммерческое использование',
                            'Коммерческие живые выступления',
                            'Покупатель должен указать (prod. by Pace opp) в названии поста или произведения',
                        ],
                    },
                    {
                        id: 2,
                        title: 'Mp3 leasing',
                        cost: 150,
                        items: [
                            'Бит в формате WAV и MP3 с 1 тегом',
                            'Право выкладывать трек в любые цифровые магазины',
                            'Коммерческое использование',
                            'Коммерческие живые выступления',
                            'Покупатель должен указать (prod. by Pace opp) в названии поста или произведения',
                        ],
                    },
                    {
                        id: 3,
                        title: 'Trackout',
                        cost: 200,
                        items: [
                            'Бит в формате WAV и MP3 с 1 тегом',
                            'Право выкладывать трек в любые цифровые магазины',
                            'Коммерческое использование',
                            'Коммерческие живые выступления',
                            'Покупатель должен указать (prod. by Pace opp) в названии поста или произведения',
                        ],
                    },
                    {
                        id: 4,
                        title: 'Exclusive',
                        cost: 300,
                        items: [
                            'Бит в формате WAV и MP3 с 1 тегом',
                            'Право выкладывать трек в любые цифровые магазины',
                            'Коммерческое использование',
                            'Коммерческие живые выступления',
                            'Покупатель должен указать (prod. by Pace opp) в названии поста или произведения',
                        ],
                    },
                    {
                        id: 5,
                        title: 'Beat on order',
                        cost: 100,
                        items: [
                            'Бит в формате WAV и MP3 с 1 тегом',
                            'Право выкладывать трек в любые цифровые магазины',
                            'Коммерческое использование',
                            'Коммерческие живые выступления',
                            'Покупатель должен указать (prod. by Pace opp) в названии поста или произведения',
                        ],
                    },
                ];

                const serviceContainer = document.getElementById('services');
                const modalTemplate = document.getElementById('modalTemplate').innerText;

                let generatedHTML = ""; // We'll store all generated HTML here

                services.forEach(service => {
                    const items = service.items.map(item => `<li>${item}</li>`).join('');
                    const modalHTML = modalTemplate
                        .replace(/{id}/g, service.id)
                        .replace(/{title}/g, service.title)  // use RegExp to replace all occurrences
                        .replace(/{cost}/g, service.cost)  // use RegExp to replace all occurrences
                        .replace('{items}', items);
                    generatedHTML += modalHTML;
                });

                // Now we update the innerHTML only once.
                serviceContainer.innerHTML = generatedHTML;
            </script>

        </div>
    </div>



    <div class="container">
        <form class="form_paceopp" th:method="post"  th:object="${emailMessage}" th:action="@{/contact}">
            <h1>CONTACT</h1>
            <div class="input-message-container">
                <input class="contact_input" type="text" onfocus="hideError(this)" th:field="*{subject}" placeholder="Topic">
                <div class="error-message"  th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}"></div>
            </div>
            <div class="input-message-container">
                <textarea class="contact_textarea" onfocus="hideError(this)" th:field="*{message}" placeholder="Message" rows="4"></textarea>
                <div class="error-message" th:if="${#fields.hasErrors('message')}" th:errors="*{message}"></div>
            </div>
            <button class="btn_paceopp" type="submit"></button>
        </form>
    </div>
</main>
<footer>
    <p>&copy; 2023 Paceopp</p>
</footer>
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Успех!</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Письмо успешно отправлено!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" th:value="${showSuccessModal}" id="showSuccessModal">
<script th:src="@{/js/main.js}"></script>
<script>
    $(document).ready(function() {
        let showModal = document.querySelector('#showSuccessModal').value === 'true';

        if (showModal) {
            $('#successModal').modal('show');
        }
    });
</script>
</body>
</html>