<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Paceopp</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
    <link rel="icon" type="image/png" th:href="@{/images/logo.png}">
    <meta name="viewport" content="width=device-width" />
</head>
<body>
<header>
    <div class="container">
        <div class="header_inner_paceopp">
            <figure id="logo">
                <a href="/"><img th:src="@{/images/logo.png}" alt="Logo"></a>
            </figure>
            <div class="navbar_left">
                <a class="nav_link_paceopp" href="/">Услуги</a>
                <a class="nav_link_paceopp" href="/beats">Биты</a>
                <a class="nav_link_paceopp" href="#">Киты</a>
                <a class="nav_link_paceopp" href="#">Написать нам</a>
                <a sec:authorize="isAuthenticated()" class="nav_link_paceopp" href="/user/profile">Личный кабинет</a>
            </div>
            <div class="navbar_right">
                <a sec:authorize="!isAuthenticated()" class="nav_link_paceopp" th:href="@{/auth/signin}">Войти / Зарегистрироваться</a>
                <form sec:authorize="isAuthenticated()" id="logout-form" th:action="@{/logout}" th:method="post" style="display: inline-block; margin:0; padding: 0;">
                    <button type="submit" class="nav_link_paceopp logout-btn">Выйти</button>
                </form>
                <div class="menu-icon">&#9776;</div>
                <div class="dropdown" id="dropdown">
                    <div class="dropdown-content">
                        <a href="/">Услуги</a>
                        <a href="/beats">Биты</a>
                        <a href="#">Киты</a>
                        <a href="#">Написать нам</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container mt-5">
        <h2 class="section-title">Личный кабинет</h2>
        <form th:action="@{/user/profile}" th:object="${userProfile}" th:method="POST">
            <!-- Username, Email, and Password Fields -->
            <div class="fields-container">
                <div class="field-container">
                    <label for="userNameInput" class="form-label">Имя:</label>
                    <input type="text" id="userNameInput" class="form-control translucent" readonly=""
                           name="userName" th:value="${userProfile.userName}">
                    <button class="btn btn-link pencil-btn" type="button" id="editUsernameBtn"
                            onclick="toggleInput('userNameInput')"><i class="bi bi-pencil"></i></button>
                    <button class="btn btn-secondary tick-btn pencil-btn" type="button" style="display: none;"
                            onclick="confirmChanges('userNameInput')">✓</button>
                    <button class="btn btn-secondary cross-btn pencil-btn" type="button" style="display: none;"
                            onclick="cancelChanges('userNameInput')">✗</button>
                </div>
                <div class="field-container">
                    <label for="emailInput" class="form-label">Почта:</label>
                    <input type="text" id="emailInput" class="form-control translucent" readonly=""
                           name="email" th:value="${userProfile.email}">
                    <button class="btn btn-link pencil-btn" type="button" id="editEmailBtn"
                            onclick="toggleInput('emailInput')"><i class="bi bi-pencil"></i></button>
                    <button class="btn btn-secondary tick-btn pencil-btn" type="button" style="display: none;"
                            onclick="confirmChanges('emailInput')">✓</button>
                    <button class="btn btn-secondary cross-btn pencil-btn" type="button" style="display: none;"
                            onclick="cancelChanges('emailInput')">✗</button>
                </div>
            </div>
        </form>
    </div>
</main>


<footer>
    <div class="container">
        <div class="footer-bottom">
            <p>&copy; 2023 Paceopp</p>
        </div>
    </div>
</footer>
<script>
    // Add event listeners to the input fields to store their original values when the page loads
    window.addEventListener('DOMContentLoaded', function () {
        var inputs = document.querySelectorAll('.form-control');
        inputs.forEach(function (input) {
            input.setAttribute('data-original-value', input.value);
        });
    });

    // Function to toggle the readonly attribute and style of input fields
    function toggleInput(inputId) {
    var input = document.getElementById(inputId);
    var inputs = document.querySelectorAll('.form-control'); // Get all input fields

    // If the input field is already editable, cancel changes
    if (!input.readOnly) {
        cancelChanges(inputId);
    } else {
        inputs.forEach(function (otherInput) {
            // Cancel changes on other input fields
            if (otherInput !== input && !otherInput.readOnly) {
                cancelChanges(otherInput.id);
            }
        });

        // Toggle the readonly attribute and translucent class for the clicked input field
        input.readOnly = !input.readOnly;
        input.classList.toggle("translucent");

        // Show tick, cross, and cancel buttons for the edited input field
        var parentContainer = input.parentElement;
        var tickBtn = parentContainer.querySelector('.tick-btn');
        var crossBtn = parentContainer.querySelector('.cross-btn');
        tickBtn.style.display = 'inline-block';
        crossBtn.style.display = 'inline-block';

        // Hide the pencil button
        var pencilBtn = parentContainer.querySelector('.pencil-btn');
        pencilBtn.style.display = 'none';
    }
}


    function cancelChanges(inputId) {
        var input = document.getElementById(inputId);
        var originalValue = input.getAttribute('data-original-value');
        input.value = originalValue;

        // Toggle the readonly attribute and translucent class for the clicked input field
        input.readOnly = true;
        input.classList.add("translucent");

        // Hide tick, cross, and cancel buttons
        var parentContainer = input.parentElement;
        var tickBtn = parentContainer.querySelector('.tick-btn');
        var crossBtn = parentContainer.querySelector('.cross-btn');
        tickBtn.style.display = 'none';
        crossBtn.style.display = 'none';

        // Show the pencil button
        var pencilBtn = parentContainer.querySelector('.pencil-btn');
        pencilBtn.style.display = 'inline-block';
    }


    // Function to confirm changes made to the input field
    function confirmChanges(inputId) {
        toggleInput(inputId);
    }
</script>



</body>
</html>
