<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Paceopp</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
    <link rel="icon" type="image/png" th:href="@{/images/logo.png}">
    <script th:src="@{/js/main.js}"></script>
    <meta name="viewport" content="width=device-width" />
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <style>
        .form-control {
            min-width:250px;
            max-width:0px;
        }
        @media screen and (max-width: 600px) {
            min-width:150px !important;
        }
    </style>
</head>
<body>
<header>
    <div class="container">
        <div class="header_inner_paceopp">
            <figure id="logo">
                <a href="/"><img th:src="@{/images/logo.png}" alt="Logo"></a>
            </figure>
            <div class="navbar_left">
                <a class="nav_link_paceopp" href="/">Услуги</a>
                <a class="nav_link_paceopp" href="/beats">Биты</a>
                <a class="nav_link_paceopp" href="/#kits">Киты</a>
                <a class="nav_link_paceopp" href="/#write-to-us">Написать нам</a>
                <a sec:authorize="isAuthenticated()" class="nav_link_paceopp" href="/user/profile">Личный кабинет</a>
            </div>
            <div class="navbar_right">
                <a sec:authorize="!isAuthenticated()" class="nav_link_paceopp signin-link" th:href="@{/auth/signin}">Войти / Зарегистрироваться</a>
                <form sec:authorize="isAuthenticated()" th:action="@{/logout}" th:method="post" style="display: inline-block; margin:0; padding: 0;" class="logout-form">
                    <button type="submit" class="nav_link_paceopp logout-btn">Выйти</button>
                </form>
                <div class="menu-icon">&#9776;</div>
                <div class="dropdown" id="dropdown">
                    <div class="dropdown-content">
                        <a href="/">Услуги</a>
                        <a href="/beats">Биты</a>
                        <a href="/#kits">Киты</a>
                        <a href="/#write-to-us">Написать нам</a>
                        <a sec:authorize="isAuthenticated()" href="/user/profile">Личный кабинет</a>
                        <a sec:authorize="!isAuthenticated()" th:href="@{/auth/signin}">Войти / Зарегистрироваться</a>
                        <form sec:authorize="isAuthenticated()"  th:action="@{/logout}" th:method="post" style="display: block; margin:0; padding: 0;">
                            <button type="submit" class="logout-btn">Выйти</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container mt-5">
        <h2 class="section-title">Личный кабинет</h2>
        <form th:action="@{/user/profile}" th:object="${userProfile}" th:method="POST">
            <!-- Username, Email, and Password Fields -->
            <div class="fields-container">
                <div class="error-container">
                    <div class="field-container">
                        <label for="userNameInput" class="form-label">Имя:</label>
                        <input type="text" id="userNameInput" class="form-control translucent" readonly=""
                               name="userName" th:value="${userProfile.userName}">
                        <button class="btn btn-link pencil-btn" type="button" id="editUsernameBtn"
                                onclick="toggleInput('userNameInput')"><i class="bi bi-pencil"></i></button>
                        <button class="btn btn-secondary tick-btn pencil-btn" type="button" style="display: none;"
                                onclick="confirmUsernameChanges('userNameInput')">✓</button>
                        <button class="btn btn-secondary cross-btn pencil-btn" type="button" style="display: none;"
                                onclick="cancelChanges('userNameInput')">✗</button>
                    </div>
                    <div id="usernameError" style="color: red;"></div>
                    <div id="usernameSuccess" style="color: green;"></div>
                </div>
                <div class="error-container">
                    <div class="field-container">
                        <label for="emailInput" class="form-label">Почта:</label>
                        <input type="text" id="emailInput" class="form-control translucent" readonly=""
                               name="email" th:value="${userProfile.email}">
                        <button class="btn btn-link pencil-btn" type="button" id="editEmailBtn"
                                onclick="toggleInput('emailInput')"><i class="bi bi-pencil"></i></button>
                        <button class="btn btn-secondary tick-btn pencil-btn" type="button" style="display: none;"
                                onclick="confirmEmailChanges('emailInput')">✓</button>
                        <button class="btn btn-secondary cross-btn pencil-btn" type="button" style="display: none;"
                                onclick="cancelChanges('emailInput')">✗</button>
                    </div>
                    <div id="emailError" style="color: red;"></div>
                    <div id="emailSuccess" style="color: green;"></div>
                </div>
            </div>
        </form>
    </div>
</main>

<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-section about">
                <h2 class="footer-title">О нас</h2>
                <p>Paceopp предлагает лучшие услуги в своей области. Мы стремимся к качеству и удовлетворению потребностей наших клиентов.</p>
            </div>
            <div class="footer-section links">
                <h2 class="footer-title">Ссылки</h2>
                <ul>
                    <li><a href="/">Услуги</a></li>
                    <li><a href="/beats">Биты</a></li>
                    <li><a href="/#kits">Киты</a></li>
                    <li><a href="/#write-to-us">Написать нам</a></li>
                    <li sec:authorize="isAuthenticated()"><a href="/user/profile">Личный кабинет</a></li>
                </ul>
            </div>
            <div class="footer-section social">
                <h2 class="footer-title">Соц. сети</h2>
                <div class="social-links">
                    <a href="https://www.instagram.com/paceopp" target="_blank">
                        <img src="/images/instagram-icon.ico" alt="Instagram">
                    </a>
                    <a href="https://www.vk.com/paceoppbeats" target="_blank">
                        <img src="/images/vk-icon.ico" alt="VK">
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2023 Paceopp</p>
        </div>
    </div>
</footer>
<script th:inline="javascript" th:src="@{/js/profile.js}"></script>
</body>
</html>
