<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
    <link rel="icon" type="image/png" th:href="@{/images/logo.png}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Email</title>
    <style>
        #countdown {
            font-size: 2.5em;
        }
    </style>
    <script>
        let countdownTimer;
        function startCountdown() {
            let time = 5;
            document.getElementById('countdown').innerText = time;
            countdownTimer = setInterval(function() {
                time--;
                document.getElementById('countdown').innerText = time;
                if(time <= 0) {
                    clearInterval(countdownTimer);
                    window.location.href = "/auth/signin";
                }
            }, 1000);
        }
    </script>
</head>
<body onload="startCountdown()">
    <header>
        <div class="container">
            <div class="header_inner_paceopp">
                <figure id="logo">
                    <a href="#"><img th:src="@{/images/logo.png}" alt="Logo"></a>
                </figure>
                <nav class="navbar_paceopp">
                    <a class="nav_link_paceopp" href="#">Home</a>
                    <a class="nav_link_paceopp" href="#">About</a>
                    <a class="nav_link_paceopp" href="#">Services</a>
                    <a class="nav_link_paceopp" href="#">Products</a>
                    <a class="nav_link_paceopp" href="#">Contact</a>
                    <a sec:authorize="!isAuthenticated()" class="nav_link_paceopp" th:href="@{/auth/signin}">Sign in / Sign up</a>
                    <form sec:authorize="isAuthenticated()" id="logout-form" th:action="@{/logout}" th:method="post" style="display: inline-block; margin:0; padding: 0;">
                        <button type="submit" class="nav_link_paceopp" style="background: none; border: none; cursor:pointer; padding: 5px 10px;">Logout</button>
                    </form>
                </nav>
            </div>
        </div>
    </header>
    <p style="font-size: 2em">Verification successful. Redirecting in <span id="countdown"></span> seconds...</p>
    <script th:src="@{/js/main.js}"></script>
</body>
</html>