<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/login_style.css}">
    <link rel="icon" type="image/png" th:src="@{images/logo.png}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
<header>
    <div class="container">
        <div class="header_inner_paceopp">
            <figure id="logo">
                <a href="#"><img th:src="@{/images/logo.png}" alt="Logo"></a>
            </figure>
            <nav class="navbar_paceopp">
                <a class="nav_link_paceopp" href="#">Home</a>
                <a class="nav_link_paceopp" href="#">About</a>
                <a class="nav_link_paceopp" href="#">Services</a>
                <a class="nav_link_paceopp" href="#">Products</a>
                <a class="nav_link_paceopp" href="#">Contact</a>
                <a class="nav_link_paceopp" href="#">Cart</a>
                <a sec:authorize="!isAuthenticated()" class="nav_link_paceopp" th:href="@{/auth/login}">Login</a>
                <a sec:authorize="isAuthenticated()" class="nav_link_paceopp" th:href="@{/logout}">Logout</a>
            </nav>
        </div>
    </div>
</header>
<div class="login-container">
    <h2>Login</h2>
    <form method="post" th:action="@{/process_login}" >
        <input type="text" name="username" onfocus="hideAbstractError()" placeholder="Nickname">
        <input type="password" name="password" onfocus="hideAbstractError()" placeholder="Password">
        <button type="submit">Login</button>
        <div th:if="${param.error}" id="errorMessage">
            Incorrect data entered!
        </div>
    </form>
</div>
<script th:src="@{/js/login.js}"></script>
</body>
</html>