<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en">
<head>
    <title>Sign In</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/signin_style.css}">
    <link rel="icon" type="image/png" th:href="@{/images/logo.png}">
    <meta name="viewport" content="width=device-width" />
</head>
<body>
<header>
    <div class="container">
        <div class="header_inner_paceopp">
            <figure id="logo">
                <a href="/"><img th:src="@{/images/logo.png}" alt="Logo"></a>
            </figure>
            <nav class="navbar_paceopp">
                <a class="nav_link_paceopp" href="/">Home</a>
                <a class="nav_link_paceopp" href="#">About</a>
                <a class="nav_link_paceopp" href="#">Services</a>
                <a class="nav_link_paceopp" href="#">Products</a>
                <a class="nav_link_paceopp" href="#">Contact</a>
                <a sec:authorize="!isAuthenticated()" class="nav_link_paceopp" th:href="@{/auth/signin}">Sign in / Sign up</a>
                <form sec:authorize="isAuthenticated()" id="logout-form" th:action="@{/logout}" th:method="post" style="display: inline-block; margin:0; padding: 0;">
                    <button type="submit" class="nav_link_paceopp" style="background: none; border: none; cursor:pointer; padding: 5px 10px;">Logout</button>
                </form>
            </nav>
        </div>
    </div>
</header>
<div class="flex-container">
    <div class="login-container">
        <h2>Login</h2>
        <form method="post" th:action="@{/auth/signin_process}" >
            <input type="text" name="username" onfocus="hideAbstractError()" placeholder="Nickname">
            <div class="input-login-container">
                <input id="password-input" type="password" name="password" onfocus="hideAbstractError()" placeholder="Password">
                <div th:if="${error}" th:text="${error}" id="error-message"></div>
            </div>
            <div class="account-text">
                Don't have an account?
                <a th:href="@{/auth/signup}">Sign Up</a>
            </div>
            <button class="btn" type="submit">Login</button>
            <div class="forgot-text">
                Forgot your password?
                <a th:href="@{/auth/forgot_password}">Click here</a>
            </div>
        </form>
    </div>
</div>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/signin.js}"></script>
</body>
</html>