<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en">
<head>
    <title>Войти</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/signin_style.css}">
    <link rel="icon" type="image/png" th:href="@{/images/logo.png}">
    <meta name="viewport" content="width=device-width" />
</head>
<body>
<header>
    <div class="container">
        <div class="header_inner_paceopp">
            <figure id="logo">
                <a href="/"><img th:src="@{/images/logo.png}" alt="Logo"></a>
            </figure>
            <div class="navbar_left">
                <a class="nav_link_paceopp" href="/">Услуги</a>
                <a class="nav_link_paceopp" href="/beats">Биты</a>
                <a class="nav_link_paceopp" href="/#kits">Киты</a>
                <a class="nav_link_paceopp" href="/#write-to-us">Написать нам</a>
                <a sec:authorize="isAuthenticated()" class="nav_link_paceopp" href="/user/profile">Личный кабинет</a>
            </div>
            <div class="navbar_right">
                <a sec:authorize="!isAuthenticated()" class="nav_link_paceopp" th:href="@{/auth/signin}">Войти / Зарегистрироваться</a>
                <form sec:authorize="isAuthenticated()" id="logout-form" th:action="@{/logout}" th:method="post" style="display: inline-block; margin:0; padding: 0;">
                    <button type="submit" class="nav_link_paceopp logout-btn">Выйти</button>
                </form>
                <div class="menu-icon">&#9776;</div>
                <div class="dropdown" id="dropdown">
                    <div class="dropdown-content">
                        <a href="/">Услуги</a>
                        <a href="/beats">Биты</a>
                        <a class="nav_link_paceopp" href="/#kits">Киты</a>
                        <a class="nav_link_paceopp" href="/#write-to-us">Написать нам</a>
                        <a sec:authorize="isAuthenticated()" class="nav_link_paceopp" href="/user/profile">Личный кабинет</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="flex-container">
    <div class="login-container">
        <h2>Вход</h2>
        <form method="post" th:action="@{/auth/signin_process}" >
            <input type="text" name="username" onfocus="hideAbstractError()" placeholder="Никнейм">
            <div class="input-login-container">
                <input id="password-input" type="password" name="password" onfocus="hideAbstractError()" placeholder="Пароль">
                <div th:if="${error}" th:text="${error}" id="error-message"></div>
            </div>
            <div class="account-text">
                Нет аккаунта?
                <a th:href="@{/auth/signup}">Зарегистрироваться</a>
            </div>
            <div class="submit-block">
                <div class="checkbox-row">
                    <div class="remember-me">
                        <input type="checkbox" name="remember-me" id="remember-me">
                        <label for="remember-me">Запомнить меня</label>
                    </div>
                </div>
                <button class="btn" type="submit">Войти</button>
            </div>
            <div class="forgot-text">
                Забыли пароль?
                <a th:href="@{/auth/forgot_password}">Нажмите сюда</a>
            </div>
        </form>
    </div>
</div>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/signin.js}"></script>
</body>
</html>