<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en">
<head>
    <title>Sign Up</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/reg_style.css}">
    <link rel="icon" type="image/png" th:href="@{/images/logo.png}">
    <meta name="viewport" content="width=device-width" />
</head>
<body>
<header>
    <div class="container">
        <div class="header_inner_paceopp">
            <figure id="logo">
                <a href="/"><img th:src="@{/images/logo.png}" alt="Logo"></a>
            </figure>
            <nav class="navbar_paceopp">
                <a class="nav_link_paceopp" href="/">Home</a>
                <a class="nav_link_paceopp" href="#">About</a>
                <a class="nav_link_paceopp" href="#">Services</a>
                <a class="nav_link_paceopp" href="#">Products</a>
                <a class="nav_link_paceopp" href="#">Contact</a>
                <a sec:authorize="!isAuthenticated()" class="nav_link_paceopp" th:href="@{/auth/signin}">Sign in / Sign up</a>
                <form sec:authorize="isAuthenticated()" id="logout-form" th:action="@{/logout}" th:method="post" style="display: inline-block; margin:0; padding: 0;">
                    <button type="submit" class="nav_link_paceopp" style="background: none; border: none; cursor:pointer; padding: 5px 10px;">Logout</button>
                </form>
            </nav>
        </div>
    </div>
</header>
<div class="flex-container">
    <div class="signup-container">
        <h2>Sign Up</h2>
        <form th:method="POST" th:action="@{/auth/signup}" th:object="${user}" >
            <div class="input-container">
                <input type="text" onfocus="hideError(this)" th:field="*{username}" placeholder="Nickname">
                <div  class="error-message" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
            </div>
            <div class="input-container">
                <input type="text" onfocus="hideError(this)" th:field="*{email}" placeholder="Email">
                <div  class="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            </div>
            <div class="input-container">
                <input type="password" onfocus="hideError(this)" id="password" th:field="*{password}" placeholder="Password">
                <div  class="error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            </div>
            <div class="input-container">
                <input type="password" id="confirm-password" placeholder="Confirm Password">
                <div id="password-message"></div>
            </div>
            <div class="account-text">
                Already have an account?
                <a th:href="@{/auth/signin}">Log In</a>
            </div>
            <button class="btn" type="submit">Sign Up</button>
        </form>
    </div>
</div>
<script th:src="@{/js/main.js}"></script>
</body>
</html>