.admin-panel {

    display: flex;
    height: 100vh;
}
.body {
    background: linear-gradient(to bottom, black, #038e03);
}
.accordion-item {
    border:none;
}
.accordion-button {
    background:grey;
     color:white;
}

.accordion-button:not(.collapsed) {
    background:grey;
    color:white;
}
.sidebar {
    width: fit-content;
    color: limegreen;
    padding: 0.5rem;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 1rem;
}

.sidebar ul li a {
    color: limegreen;
    text-decoration: none;
}

.sidebar ul li a:hover {
    color: white;
}
.form-control {
    width: 90%;
}
.form-control {
    min-width: 250px;
    max-width: 0px;
    color: #999;
    background-color: #f2f2f2;
}
.main-content {
    width: 100%;
    color: white;
    padding: 1rem;
    margin-left: 20%;
}
.btn {
    margin-bottom: 15px;
}
.accordion-body {
    background: gray;
}
.input-group>.form-control {
    min-width: 250px;
    margin-right: 10px;
}

label {
    color: white;
}

.mb-3 a {
    color:white;
}
@media screen and (max-width: 600px) {
    .sidebar {
        font-size: 14px;
        padding: 0px;
    }
    .input-group>.form-control {
        min-width: 150px;
        width:90%;
    }
    .main-content {
        width:80%;
    }
    .form-control{
        min-width: 150px;
    }
    .main-content {
        font-size: 14px;
    }
    .btn {
        font-size: small;
    }
}

