.forgot-container {
    width:350px;
    padding: 20px;
    background-color: #0F0F0F;
    color: limegreen;
    box-shadow: 0 0 10px limegreen;
    border-radius: 10px;
    animation: appear 1s ease-out forwards;
}

@keyframes appear {
    from {opacity: 0; transform: translateY(50px);}
    to {opacity: 1; transform: translateY(0);}
}

.forgot-container h2 {
    text-align: center;
    color: limegreen;
    font-size: 2em;
}

.forgot-container p {
    text-align: center;
    color: limegreen;
}

.forgot-container form {
    display: flex;
    flex-direction: column;
}


.forgot-container form input {
    margin-bottom: 25px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #262626;
    color: limegreen;
    font-size: 1.2em;
}

.error-message {
    margin-bottom: 10px;
    color: #ff4040;
}
@media (max-width: 600px) {
    .forgot-container {
        padding: 10px;
        width: 90%;
        box-sizing: border-box;
        margin-bottom: 150px;
    }
    .forgot-container h2 {
        font-size: 1.5em;
    }
    .forgot-container form input {
        font-size: 1em;
        padding: 7px;
    }
}

