.body_paceopp {
    display: flex;
    flex-direction: column;
    margin: 0;
    background: linear-gradient(to bottom, black, #003300);
    font-size: 14px;
    line-height: 1.6;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    padding-top: 5px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

.header_inner_paceopp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_paceopp {
    font-size: 16px;
}


.nav_link_paceopp {
    color: white;
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    padding: 5px 10px;
    text-decoration: none;
    transition: all 0.2s linear;
    position: relative;
}


.nav_link_paceopp:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: limegreen;
    transition: all 0.2s linear;
}

.nav_link_paceopp:hover {
    color: white;
}
.nav_link_paceopp:hover:after {
    width: 100%;
    left: 0;
}

#logo a, .nav_link_paceopp {
    text-shadow: 0 0 10px #00ff00;
}
#logo img {
    width: 50px;
}
#logo {
    margin: 14px 40px;
}
*, ::after, ::before {
    box-sizing: content-box;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}
.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

footer {
    margin-top: auto;
}

.contact_input, .contact_textarea {
    font-weight: bold;
    width: 100%;
    border: none;
    background: transparent;
    border-bottom: 1px solid gray;
    outline: none;
    padding: 5px 10px;
    color: white;
    min-width: 100%;
    max-width: 100%;
    min-height: 30px;
    font-size: 18px;
    margin-bottom: 15px;
}


.contact_textarea {
    resize: none;
    border: 1px solid gray;
}

.contact_input:focus {
    border-bottom: 1px solid limegreen;
}

.contact_textarea:focus {
    border: 1px solid limegreen;
}

.form_paceopp {
    width: 50%;
    margin: 0 auto;
    border: none;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form .error-message {
    color: #ff4040;
    padding-bottom: 10px;
    align-self: flex-start;
}
.btn_paceopp {
    width: fit-content;
    border: none;
    outline: none;
    padding: 10px;
    background-color: white;
    color: black;
    font-weight: bold;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.btn_paceopp:hover {
    background-color: transparent;
    color: white;
}
.btn_paceopp:before {
    font-size: 14px;
    content: 'ОТПРАВИТЬ';
    position: relative;
    z-index: 2;
}
.btn_paceopp:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    transform: scale(1);
    transition: transform 0.5s;
    transform-origin: center center;
}

.btn_paceopp:hover:after {
    transform: scale(0);
}
@media (max-width: 600px) {
    .navbar_paceopp {
        font-size: 20px;
    }
    .form_paceopp {
        width: 100%;
    }
}

#contact_h1 {
    font-size: 2em;
}

