.input-container {
    position: relative;
    width: 100%;
    margin-bottom: 25px;
}
.error-message {
    position: absolute;
    color: #ff4040;
}
.signup-container {
    width: 350px;
    padding: 20px;
    background-color: #0F0F0F;
    color: limegreen;
    box-shadow: 0 0 10px limegreen;
    border-radius: 10px;
    animation: appear 1s ease-out forwards;
}

@keyframes appear {
    from {opacity: 0; transform: translateY(50px);}
    to {opacity: 1; transform: translateY(0);}
}

.signup-container h2 {
    margin-top: 5px;
    text-align: center;
    color: limegreen;
    font-size: 2em;
}

.signup-container form {
    display: flex;
    flex-direction: column;
}

.signup-container form input {
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #262626;
    color: limegreen;
    font-size: 1.2em;
    width: 100%;
    box-sizing: border-box;
}

.account-text {
    text-align: center;
    margin-bottom: 10px;
}

.account-text a {
    color: #FFD700;
    text-decoration: none;
}

.account-text a:hover {
    text-decoration: underline;
    color: #FFA500;
}

@media (max-width: 600px) {
    .input-container {
        margin-bottom: 15px;
    }
    .signup-container {
        padding: 10px;
        width: 90%;
        box-sizing: border-box;
        margin-bottom: 150px;
    }
    .signup-container h2 {
        font-size: 1.5em;
    }
    .signup-container form input {
        font-size: 1em;
        padding: 7px;
    }
}
