.login-container {
    width:350px;
    padding: 20px;
    background-color: #0F0F0F;
    color: limegreen;
    box-shadow: 0 0 10px limegreen;
    border-radius: 10px;
    animation: appear 1s ease-out forwards;
}

@keyframes appear {
    from {opacity: 0; transform: translateY(50px);}
    to {opacity: 1; transform: translateY(0);}
}

.login-container h2 {
    text-align: center;
    color: limegreen;
    font-size: 2em;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container form input {
    margin-bottom: 25px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #262626;
    color: limegreen;
    font-size: 1.2em;
    width: 100%;
    box-sizing: border-box;
}
#password-input {
    margin-bottom: 5px;
}
#error-message {
    position: absolute;
    margin-bottom: 10px;
    color: #ff4040;
}
.input-login-container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.account-text {
    text-align: center;
    margin-bottom: 10px;
}

.account-text a {
    color: #FFD700;
    text-decoration: none;
}

.account-text a:hover {
    text-decoration: underline;
    color: #FFA500;
}
.forgot-text {
    text-align: center;
    margin-top: 10px;
}

.forgot-text a {
    color: #FFD700;
    text-decoration: none;
}

.forgot-text a:hover {
    text-decoration: underline;
    color: #FFA500;
}
/* Hide the default checkbox */
.remember-me input[type="checkbox"] {
    display: none;
}
.submit-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.checkbox-row {
    align-self: flex-end;
    display: flex; /* Added this line */
    align-items: flex-end; /* Added this line */
}
.remember-me {
    margin: 0; /* remove any default margins */
    padding: 0; /* remove any default paddings */
    line-height: 1; /* adjust accordingly */
    margin-bottom: 10px;
}
/* Create a custom checkbox */
.remember-me input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 2px solid limegreen;
    border-radius: 4px;
    vertical-align: middle;
}

/* Add a checkmark when checked */
.remember-me input[type="checkbox"]:checked + label::before {
    background-color: limegreen;
}

/* Style the label text */
.remember-me input[type="checkbox"] + label {
    color: limegreen;
    font-size: 1.2em;
}
.remember-me label {
    user-select: none;
}
.login-container form input {
    border: 1px solid transparent;
}

.login-container form input:focus, .login-container form input:hover {
    border: 1px solid limegreen;
    outline: none;
}
@media (max-width: 600px) {
    .login-container {
        padding: 10px;
        width: 90%;
        box-sizing: border-box;
        margin-bottom: 150px;
    }
    .login-container h2 {
        font-size: 1.5em;
    }
    .login-container form input {
        font-size: 1em;
        padding: 7px;
        margin-top: 5px;
    }
}