html, body {
    height: 100%;
    margin: 0;
    overflow: auto;
    overflow-x: hidden;
    background: linear-gradient(to bottom, black , #003300);
    line-height: 1.6;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80%;
}
header {
    padding-top: 5px;
    width: 100%;
    position: sticky;
    background: linear-gradient(to top, black , #003300);
    top: 0;
    z-index: 100;
}
.header_inner_paceopp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar_paceopp {
    font-size: 18px;
}
.nav_link_paceopp {
    color: white;
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
    padding: 5px 10px;
    text-decoration: none;
    transition: all 0.2s linear;
    position: relative;
}

.navbar_left {
    display: flex;
}
.navbar_right {
    display: flex;
    margin-left: auto;
}
.navbar_right .nav_link_paceopp:first-child {
    margin-left: auto;
}

.nav_link_paceopp:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: limegreen;
    transition: all 0.2s linear;
}
.nav_link_paceopp:hover:after {
    width: 100%;
    left: 0;
}
.nav_link_paceopp:hover {
    color: white;
}
#logo a, .nav_link_paceopp {
    text-shadow: 0 0 10px #00ff00;
}
#logo img {
    width: 50px;
}
#logo {
    margin: 14px 14px;
}
*, ::after, ::before {
    box-sizing: content-box;
}
main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    width:85%;
    margin: 0 auto;
    padding: 0 0px;
}
footer {
    margin-top: auto;
}

.btn {
    border: none;
    height: 50px;
    font-size: 18px;
    color: white;
    background: limegreen;
    cursor: pointer;
    transition: opacity 0.3s ease;
    border-radius: 5px;
    width: 100%;
}

.btn:hover {
    opacity: 0.7;
}

.contact_input, .contact_textarea {
    font-weight: bold;
    width: 100%;
    border: none;
    background: transparent;
    border-bottom: 1px solid rgb(128, 128, 128);
    outline: none;
    padding: 5px 10px;
    color: white;
    min-width: 100%;
    max-width: 100%;
    min-height: 30px;
    font-size: 18px;
}

.input-message-container {
    position: relative;
    width: 100%;
    margin-bottom: 25px;
}

.contact_textarea {
    resize: none;
    border: 1px solid rgb(128, 128, 128);
}

.contact_input:focus, .contact_input:hover {
    border-bottom: 1px solid limegreen;
}

.contact_textarea:focus, .contact_textarea:hover {
    border: 1px solid limegreen;
}

.form_paceopp {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    border: none;
    padding: 20px;
    color: white;
    flex-direction: column;
    align-items: center;
}
.form_paceopp .error-message {
    color: #ff4040;
    padding-bottom: 10px;
    position: absolute;
}
.btn_paceopp {
    width: 100px;
    border: none;
    outline: none;
    padding: 10px;
    background-color: white;
    color: black;
    font-weight: bold;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.btn_paceopp:hover {
    background-color: transparent;
    color: white;
}
.btn_paceopp:before {
    font-size: 14px;
    content: 'Отправить';
    position: relative;
    z-index: 2;
}
.btn_paceopp:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    transform: scale(1);
    transition: transform 0.5s;
    transform-origin: center center;
}

.btn_paceopp:hover:after {
    transform: scale(0);
}
#contact_h1 {
    font-size: 2rem;
}
.modal-content {
     background-color: #282828;
     border-radius: 15px;
     border: none;
     box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
     overflow: hidden;
 }

.modal-header {
    padding: 1rem;
    border-bottom: none;
}

.modal-header .close {
    color: limegreen;
    opacity: 1;
}

.modal-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: limegreen;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    border-top: none;
    justify-content: flex-end;
}

.btn-secondary {
    background-color: limegreen;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
}

.btn-secondary:hover {
    background-color: #2c5d2c;
}
a, button {
    box-sizing: border-box;
}
.logout-btn {
    background: none;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor:pointer;
    padding: 5px 12px;
    font-weight: normal;
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.section-title {
    text-align: center;
    width: 100%;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}

.services-container {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.service-item {
    width: 220px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid limegreen;
    background-color: black;
    border-radius: 10px;
    padding: 2rem;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
    cursor: pointer;
}

.service-item:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 250, 0, 0.2);
    background: limegreen;
}

.service-title {
    font-size: 1.5rem;
    color: limegreen;
    transition: color 0.3s ease;
}

.service-item:hover .service-title {
    color: black;
}
.service-item:hover .service-cost{
    color: black;
}

.service-modal-dialog {
    margin: auto;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.service-modal-content {
    background-color: black; /* light gray */
    border-radius: 10px; /* rounded corners */
    padding: 20px; /* some padding */
}
.service-modal-title {
    color:limegreen;
    font-size: 2em;
}

.service-modal-body {
    color:limegreen;
    margin-top: 10px;
    font-size: 1.2em; /* larger text */
    line-height: 1.5; /* more space between lines */
}
.modal-body ul {
    padding-left: 20px; /* adds indentation to the bullet list */
}

.modal-body ul li {
    margin-bottom: 10px; /* adds margin at the bottom of each list item */
}
.service-btn-primary {
    background-color: limegreen;
    border: none;
}
.service-btn-primary:hover {
    background-color: darkgreen;
}

.service-cost {
    font-size: 1rem;
    color: limegreen;
    margin-top: 10px;
}


.drumkit-card {
    width: 250px;
    background-color: black;
    border: 1px solid limegreen;
    border-radius: 10px;
    padding: 1rem;
    color: limegreen;
    transition: transform 0.3s, color 0.3s;
    cursor: pointer;
}

.drumkit-card img {
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.drumkit-card:hover {
    transform: scale(1.05);
    background-color: limegreen;
}

.drumkit-card:hover .drumkit-title,
.drumkit-card:hover .drumkit-cost {
    color: black;
}

.drumkit-title {
    font-size: 18px;
    margin-bottom: 0.5rem;
}

.drumkit-cost {
    font-size: 14px;
}

.modal-content {
    background-color: black;
    color: limegreen;
    transition: color 0.3s;
}

.modal-header .modal-title {
    font-size: 22px;
    color: limegreen;
}

.modal-footer .btn-buy {
    background-color: limegreen;
    border: none;
    color: black;
}

.modal-header, .modal-body, .modal-footer {
    border: none;
}

.modal-header .modal-close {
    background: none;
    border: none;
    color: limegreen;
    opacity: 1;
}

.modal-header .modal-close:hover {
    color: white;
}
@media (max-width: 600px) {
    .navbar_paceopp {
        font-size: 16px;
    }
    .nav_link_paceopp {
        margin: 0 10px;
    }
    #logo img {
        width: 40px;
    }
    .btn {
        height: 35px;
    }
    .form_paceopp {
        width: 85%;
    }
}
.social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-links a {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.social-links img {
    width: 100%;
    height: 100%;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.footer-content .footer-section {
    flex: 1;
    padding: 0 20px;
}

.footer-content .footer-section h2 {
    color: limegreen;
    margin-bottom: 20px;
}

.footer-content .footer-section p,
.footer-content .footer-section ul li {
    color: white;
    line-height: 1.6;
}

.footer-content .footer-section ul li {
    margin-bottom: 10px;
}

.footer-content .footer-section ul li a {
    color: white;
    text-decoration: none;
}

.footer-content .footer-section ul li a:hover {
    color: limegreen;
}

.footer-bottom {
    text-align: center;
    background: transparent;
    color: #686868;
    padding: 10px 0;
}

.dropbtn {
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: limegreen;
    min-width: 160px;
    z-index: 1;
    right: 0;
    top: calc(100% + 5px);
    transform-origin: top right;
}

.dropdown.show .dropdown-content {
    right: auto;
    left: 0;
    transform-origin: top left;
}

.show {
    display: block;
}

.dropdown {
    position: relative;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar_left {
        display: none;
    }
    .dropbtn {
        display: block;
    }
    .navbar_right {
        position: relative;
    }
    .menu-icon {
        margin: 0 10px 0 0;
        padding: 5px 10px;
        font-size: 18px;
        display: inline-block;
    }
}

.fields-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.field-container {
    padding: 15px;
    margin: 0 10px 10px 0; /* Add margin between field containers and at the bottom */
    display: flex;
    gap: 10px; /* Add gap between elements inside field container */
    align-items: center; /* Center items vertically */
}

.form-label {
    margin: 0;
}

.pencil-btn {
    background: local;
    height: 100%;
    width: fit-content;
    font-size: 16px;
}
.pencil-btn:hover {
    color: #00f700;
}

.form-control {
    min-width: 250px;
    max-width: 0px;
    color: #999; /* Set text color to gray */
    background-color: #f2f2f2; /* Set background color to lighter gray */
}

.translucent {
    opacity: 0.6; /* Adjust opacity for a translucent effect */
}

@media (max-width: 768px) {
    .field-container {
        flex-basis: calc(50% - 20px); /* Adjust width for smaller screens */
    }
}
