body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    background: linear-gradient(to bottom, black, #003300);
    font-size: 14px;
    height: 100vh;
    line-height: 1.6;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    padding-top: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.header_inner_paceopp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar_paceopp {
    font-size: 16px;
}
.nav_link_paceopp {
    color: white;
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    padding: 5px 10px;
    text-decoration: none;
    transition: all 0.2s linear;
    position: relative;
}
.nav_link_paceopp:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: limegreen;
    transition: all 0.2s linear;
}
.nav_link_paceopp:hover:after {
    width: 100%;
    left: 0;
}
#logo a, .nav_link_paceopp {
    text-shadow: 0 0 10px #00ff00;
}

#logo img {
    width: 50px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}
.container {
    width:100%;
    max-width: 1100px;
    margin: 0 auto;
}
footer {
    margin-top: auto;
}
@media (max-width: 600px) {
    .navbar_paceopp {
        font-size: 22px;
    }
}