html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, black, #003300);
    font-size: 14px;
    line-height: 1.6;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
}
header {
    padding-top: 5px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header_inner_paceopp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar_paceopp {
    font-size: 16px;
}
.nav_link_paceopp {
    color: white;
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    padding: 5px 10px;
    text-decoration: none;
    transition: all 0.2s linear;
    position: relative;
}
.nav_link_paceopp:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: limegreen;
    transition: all 0.2s linear;
}
.nav_link_paceopp:hover:after {
    width: 100%;
    left: 0;
}
.nav_link_paceopp:hover {
    color: white;
}
#logo a, .nav_link_paceopp {
    text-shadow: 0 0 10px #00ff00;
}
#logo img {
    width: 50px;
}
#logo {
    margin: 14px 40px;
}
*, ::after, ::before {
    box-sizing: content-box;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}
.container {
    width:100%;
    max-width: 1100px;
    margin: 0 auto;
}
footer {
    margin-top: auto;
}

.btn {
    border: none;
    height: 50px;
    font-size: 18px;
    color: white;
    background: limegreen;
    cursor: pointer;
    transition: opacity 0.3s ease;
    border-radius: 5px;
    width: 100%;
}

.btn:hover {
    opacity: 0.7;
}

.contact_input, .contact_textarea {
    font-weight: bold;
    width: 100%;
    border: none;
    background: transparent;
    border-bottom: 1px solid rgb(128, 128, 128);
    outline: none;
    padding: 5px 10px;
    color: white;
    min-width: 100%;
    max-width: 100%;
    min-height: 30px;
    font-size: 18px;
}

.input-message-container {
    position: relative;
    width: 100%;
    margin-bottom: 25px;
}

.contact_textarea {
    resize: none;
    border: 1px solid rgb(128, 128, 128);
}

.contact_input:focus, .contact_input:hover {
    border-bottom: 1px solid limegreen;
}

.contact_textarea:focus, .contact_textarea:hover {
    border: 1px solid limegreen;
}

.form_paceopp {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    border: none;
    padding: 20px;
    color: white;
    flex-direction: column;
    align-items: center;
}
.form_paceopp .error-message {
    color: #ff4040;
    padding-bottom: 10px;
    position: absolute;
}
.btn_paceopp {
    width: fit-content;
    border: none;
    outline: none;
    padding: 10px;
    background-color: white;
    color: black;
    font-weight: bold;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.btn_paceopp:hover {
    background-color: transparent;
    color: white;
}
.btn_paceopp:before {
    font-size: 14px;
    content: 'ОТПРАВИТЬ';
    position: relative;
    z-index: 2;
}
.btn_paceopp:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    transform: scale(1);
    transition: transform 0.5s;
    transform-origin: center center;
}

.btn_paceopp:hover:after {
    transform: scale(0);
}
#contact_h1 {
    font-size: 2em;
}
.modal-content {
     background-color: #282828;
     border-radius: 15px;
     border: none;
     box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
     overflow: hidden;
 }

.modal-header {
    padding: 1rem;
    border-bottom: none;
}

.modal-header .close {
    color: limegreen;
    opacity: 1;
}

.modal-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: limegreen;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    border-top: none;
    justify-content: flex-end;
}

.btn-secondary {
    background-color: limegreen;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
}

.btn-secondary:hover {
    background-color: #2c5d2c;
}
a, button {
    box-sizing: border-box;
}
.logout-btn {
    background: none;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor:pointer;
    padding: 5px 12px;
    font-weight: normal;
    color: white;
    font-size: 16px;
    text-decoration: none;
}
@media (max-width: 600px) {
    .navbar_paceopp {
        font-size: 16px;
    }
    .nav_link_paceopp {
        margin: 0 10px;
    }
    .header_inner_paceopp {
        flex-direction: column;
        text-align: center;
    }
    #logo img {
        width: 40px;
    }
    .btn {
        height: 35px;
    }
    .form_paceopp {
        width: 85%;
    }
}

